---
import Layout from "../layouts/Layout.astro";
import RVs from "../components/RVs";
---

<Layout title="RV Tracker">
  <main class="container">
    <header class="py-10">
      <h1 class="text-4xl font-bold">RV Tracker!</h1>
    </header>
    <RVs client:load />
    <a
      href="/RV"
      class="bg-base-300 fixed bottom-0 right-0 m-5 rounded-full w-15 h-15 text-3xl btn"
      ><span class="i-tabler-plus"></span></a
    >
  </main>
</Layout>
